<div class="background">
  <div class="banner">
    <img src="http://pmaadvantage.com/wp-content/uploads/2013/09/Icon-Placeholder.png" alt="Steps logo">
    <h1>Steps</h1>
  </div>
  <div class="email-body">
    {% block content %}{% endblock %}
  </div>
  <div class="footer">
    <p>&copy; Steps, LLC</p>
    <p>You can unsubscribe from future Steps emails by
      <a href="#">clicking here</a>
    </p>
  </div>
</div>
