@import "colors";
@import "screens";


.not-found{
  width: 100%;
  height : 85vh;
  padding: 1em;
  .header{
    padding: 2em;
    img{
      margin: auto;
    }
  }

  .buttons{
    border-bottom-style: solid;
    border-top-style: solid;
    margin-bottom: 2em;
  }

  .bottom{
    width: 100%;
    height: 80%;
    background-image: url('../images/404/ocean.png');
    background-size: cover;
    .tank{
      display: block;
      width: 100%;
    }
    .turtle{
      width: 3em;
      height: 3em;
      margin:1em;
    }
    .turtle:hover {
      -webkit-animation: swing 1s ease;
      animation: swing 1s ease;
      -webkit-animation-iteration-count: 1;
      animation-iteration-count: 1;
    }
    display: inline-flex;
  }
  h3{
    color: #1d7ac9;
  }
  h2{
    color: #1d7ac9;
  }
}


// swing animation
@-webkit-keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
       transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
