@import "colors";
@import "screens";

.chat {
  align-items: flex-start;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 0 15px 0; // bottom bumper
  width: 100%;

  -webkit-flex-direction: row;
  -webkit-align-items: flex-start;
  -webkit-justify-content: center;

  > .chatroom {
    max-width: 75%;
    min-width: 65%;
    position: relative;
  }
  @media (max-width: $lg) {
    > .chatroom {
      max-width: 100%;
      width: 100%;
       @media (max-width: $sm) {
         height: calc(100% - 56px) !important;
       }
    }
    > .side-panel {
      display: none;
    }
  }
}

.notifications {
  display: block;
  height: 30px;
  padding: 5px;
  width: 100%;
}

.left {
  text-align: left;
}

.right {
  float: right;
  text-align: right;
}

.messages-wrapper {
  height: calc(100% - 85px);
  min-height: 550px;
  > ul {
    list-style-type: none;
    margin: 0;
    overflow: scroll;
    padding: 10px;
    > .message {
      + .message {
        padding-top: 5px;
      }
      > li {
        width: 75%;
        &.clear {
          clear: both;
        }
        > div {
          display: flex !important;
          flex-direction: row !important;
          > span {
            white-space: normal !important;
            line-height: 22px !important;
            text-align: start !important;
          }
        }
      }
    }
  }
  @media (max-width: $sm) {
    min-height: 400px;
  }
}

#messenger {
  bottom: 0;
  position: absolute;
  width: 100%;
  form {
    display: flex;
    align-items: center;
    justify-content: center;
    background: $toolbar;
    padding: 5px;
    width: 100%;
    > input {
      height: 35px;
      width: 80%;
      border-width: 0;
      border-radius: 4px;
      margin: 5px;
      padding-left: 10px;
      &:focus {
        box-shadow: none;
        outline: none;
      }
    }
    > div { // send button container
      margin-left: 5px;
      background-color: transparent !important;
    }
  }
}
