.chat {
  margin: 0;
  width: 100%
}

#messages {
  height: 475px;
  list-style-type: none;
  margin: 0;
  overflow: scroll;
  padding: 10px;
}

#messages li {
  width: 75%;
}

#messenger input {
  border-width: 0;
  border-radius: 8px;
  display: inline-block;
  height: 2.5em;
  margin: 5px;
  vertical-align: bottom;
  width: 80%;
}

#messenger input:focus {
  box-shadow: none;
  outline: none;
}

#messenger form {
  background: #011f4b;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100%;
}

#notifications {
  display: block;
  height: 30px;
  width: 100%;
}

.left {
  text-align: left;
}

.right {
  float: right;
  text-align: right;
}

.clear {
  clear: both;
}
