@import "screens";

#confirm-plan {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.confirm-plan-content {
  display: inherit;
  flex-direction: row-reverse;
}

@media (max-width: $lg) {
  .confirm-plan-content {
    flex-direction: column;
  }
}
