@import "colors";

#dashboard {
  width: 100%;
  display: flex;
  flex-direction: column;
  > * {
    margin: 0;
    + * {
      margin-top: 20px;
    }
  }
  > .cards {
    display: inherit;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-right: 10px;
    padding-left: 10px;
  }
  @media (max-width: $sm) {
    > h2 {
      font-size: 20px;
    }
  }
}

.stat-card {
  display: inherit;
  flex-direction: column;
  margin: 10px;
  border: 2px solid $borders;
  padding: 10px 20px;
  > .stat-card-data {
    display: inherit;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    > p { // card data point
      font-size: 5em;
      > span { // data units
        font-size: .5em;
      }
    }
    > span { // card icon
      font-size: 80px !important;
    }
  }
  > .stat-card-text {
    font-size: 1.7em;
  }
  p { // all card text
    margin: 0;
    color: $primary;
    &.good { // user is doing well
      color: $secondary
    }
    &.bad { // user is off track for target
      color: $error-text
    }
  }
  @media (max-width: $sm) {
    margin-left: 0;
    margin-right: 0;
    padding: 10px 20px;
    > .stat-card-data {
      > p { // card data point
        font-size: 3em;
      }
      > span { // card icon
      font-size: 50px !important;
      }
    }
    > .stat-card-text {
      font-size: 1em;
    }
  }
}

.pain-graph {
  max-height: 600px;
}


.therapist-graphs {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.pie-graph {
  display: inline-flex;
  justify-content: center;
  .graph-title {
    position: absolute;
    align-self: center;
    margin: 0;
    font-size: 22px;
  }
}

  @media (max-width: $sm) {
    .progress-graph, .therapist-graphs {
      display: none;
    }
  }
