




#exercise-list{
  display: flex;
  flex-direction: column;
  width: 100%;

  .exercisebt{
    display: flex;
    justify-content: space-around;
  }

  img {
    width: 13em;
    height: 8em;

  }


  .exercise-title{
    .info-item{
        padding :1em;
    }

    height : 3em;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .exercise-description {
    .info-item{
        padding :1em;
    }
  }
//lines up remove buttons
  #remove{
    margin : 0px !important;
    padding: 0px !important;
    height: 10px !important;
    width:  10px !important;
  }


}
