@import "colors";

#exercise-list{
  display: flex;
  flex-direction: column;
  width: 100%;
  
  hr {
    border-top: 1px solid $toolbar;
    width: 100%
  }
  .exercise-row {
    img {
      width: 13em;
      height: 8em;
    }
    .exercise-data {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      h3 {
        margin: 0;
      }
      .info-item{
          padding-top: 10px;
      }
    }
  }
}

#add-exercise {
  h2 {
    margin: 0;
    padding: 20px 0 0 20px;
  }
}

.add-exercise-button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 57px;
  > p {
    margin: 0;
    padding-right: 15px;
    font-size: 16px;
  }
  button span {
    font-size: 36px !important;
  }
}
.add-exercise-form {
  padding: 0 15px;
}
.add-exercise-buttons {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  div {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    + div {
      margin-left: 20px;
    }
  }
}
.error-message {
  padding-bottom: 10px;
  text-align: center;
  color: $error-text;
}
