
#exercise-list{
  display: flex;
  flex-direction: column;
  width: 100%;
  .exercisebt{
    display: flex;
    justify-content: space-around;
  }
  hr{
    border : 1px;
    border-top: 1px solid black;
    width: 100%
  }
  img {
    width: 13em;
    height: 8em;

  }
  .exercise-title{
    .info-item{
        padding :1em;
    }
    height : 3em;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .exercise-description {
    .info-item{
        padding :1em;
    }
  }
//lines up remove buttons
  #remove{
    margin : 0px !important;
    padding: 0px !important;
    height: 10px !important;
    width:  10px !important;
  }
  .form-box {
  border: 1px solid #edd5ed;
  padding: 0 15px 15px;
  margin-bottom: 20px;
 }
}
