@import "screens";

#new-treatment-form {
  min-width: 250px;
}

.new-treatment {
  display: flex;
  flex-direction: column;
  padding: 10px;
  > .new-treatment-exercise {
    display: inherit;
    flex-direction: row;
    > img { // exercise image
      max-width: 50%;
      max-height: 200px;
    }
    .exercise-info {
      display: inherit;
      flex-direction: column;
      padding-left: 10px;
      > h3 {
        margin-top: 5px;
      }
    }
    @media (max-width: $md) {
      flex-direction: column;
      > img {
      max-width: initial;
      }
    }
  }
  > .treatment-edit {
    display: inherit;
    flex-direction: column;
    justify-content: center;
    > .add-button {
      text-align: center;
    }
  }
}
