@import "colors";
@import "screens";

#new-plan {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.new-plan-content {
  display: inherit;
  flex-direction: row-reverse;
}

@media (max-width: $lg) {
  .new-plan-content {
    flex-direction: column;
  }
}

.new-plan-form {
  width: 100%;
  padding-bottom: 20px;
  .new-plan-options {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  @media (max-width: $lg) {
    margin-top: 20px;
    padding: 15px 10px;
  }
}

.add-exercise {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 10px 20px 0;
  > p {
    margin: 0;
    padding-right: 10px;
    font-size: 1.2em;
  }
}