@import "colors";
@import "screens";


// remove and add patient buttons
.ptbutton {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content:flex-end;;

  .add{
    margin: 1vh;
  }

  .remove{
    margin : 1vh;
    #cancel {
      margin: 1vh;
    }
  }

  .finish{
    margin : 1vh;
    #cancel {
      margin: 1vh;
      background-color: $secondary !important;
    }
  }
}

// patient tiles

.tile{
  border: 1px solid black;
  padding : 1vh;
  text-align: -webkit-center;
  width: 18em;

  .col {
    display: center;
  }

  p{
    word-wrap: normal;
    font-size: small;
  }

  .material-icons{
    font-size: 30px;
  }

}

// removeBadge
.removeBadge {
  padding:  1vh 2vh 2vh 4vh !important;

  > span {
    display: none !important;
  }
}

.showRemove {
  padding:  1vh 2vh 2vh 4vh !important;

}
