@import "colors";
@import "screens";


// remove and add patient buttons
.ptbutton {
  text-align: end;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;

  .add{
    margin: 1vh;
  }

  .remove{
    margin : 1vh;

    #cancel {
      background-color: $error-text !important;
      margin: 1vh;
    }
  }
}

// patient tiles

.tile{
  border: 1px solid black;
  padding : 1vh;
  text-align: -webkit-center;
  width: 18em;

  .col {
    display: center;
  }

  p{
    word-wrap: normal;
    font-size: small;
  }

}

// removeBadge
.removeBadge {
  padding:  1vh 2vh 2vh 4vh !important;

  > span {
    display: none !important;
  }
}

.showRemove {
  padding:  1vh 2vh 2vh 4vh !important;

}

// patient buttons (current plan, add plan, message)

.material-icons {
  font-size: 36px !important;
}

// chat notifications

.hidden {
  display: none
}

.message-notify {
  z-index: 1;
  position: absolute;
  margin-top: -12px;
  margin-left: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 35px;
  border-radius: 50%;
}
