@import "colors";
@import "screens";

// remove and add patient buttons
.ptbutton {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content:flex-end;;

  .add{
    margin: 1vh;
  }

  .remove{
    margin : 1vh;
    #cancel {
      margin: 1vh;
    }
  }

  .finish{
    margin : 1vh;
    #cancel {
      margin: 1vh;
      background-color: $secondary !important;
    }
  }
}

// patient tiles
.tile-wrapper {
  position: relative;
  margin:  1vh 2vh 2vh 4vh !important;
  > .hide-remove { // patient delete badge
    display: none !important;
  }
  > .show-remove {
    z-index: 1;
    position: absolute;
    top: -15px;
    left: 198px;
  }
}

.tile {
  display: flex;
  flex-direction: column;
  border: 1px solid $toolbar;
  padding: 10px;
  min-width: 16em;

  .patient-info {
    display: inherit;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    > .patient-img {
      align-self: center;
      > img {
        width: 110px;
        height: auto;
        display: flex;
        border-radius: 50%;
      }
    }
    > .patient-buttons {
      display: inherit;
      flex-direction: column;
      justify-content: center;
      button {
        padding: 4px !important;
        width: 36px !important;
        height: 36px !important;
        .material-icons {
          font-size: 32px !important;
        }
      }
    }
  }
  > .patient-data {
    display: inherit;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 10px;
    p {
      margin: 0;
      font-size: small;
    }
    .info-item + .info-item {
      padding-top: 5px;
    }
  }
}

// notification for a patient message
.message-notify {
  z-index: 1;
  position: absolute;
  margin-top: -5px;
  margin-left: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  &.hidden {
    display: none
  }
}
