@import "screens";
@import "colors";

#plan {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.plan-content {
  display: inherit;
  flex-direction: row-reverse;
  @media (max-width: $lg) {
    flex-direction: column;
  }
}

.workouts {
  width: 100%;
  padding-bottom: 20px;
}

@media (max-width: $lg) {
  .workouts {
    margin-top: 20px;
    padding: 15px 10px;
  }
}

// Row in patient plan
.workout {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  justify-content: flex-end;
  + .workout {
    margin-top: 30px;
  }
  > a { // treatment link
    width: 100%;

    p, &:hover p {
      color: $text-light;
    }
  }
  &:hover, &.completed { // show notes and fade pic on hover
    .workout-notes {
      z-index: 1;
    }
    .workout-pic {
      opacity: .4;
    }
  }
  .workout-pic-wrapper {
    width: 100%;
    background: 
      linear-gradient(
        to top,
        rgba(0, 0, 0, .8),
        rgba(0, 0, 0, 1)
      );
    > img {
      width: 100%;
      min-height: 200px;
      max-height: 350px;
      transition: all 0.25s linear;
    }
  }
  .workout-banner, > .workout-notes {
    color: $text-light;
  }
  .workout-notes {
    z-index: -1;
    position: absolute;
    padding: 25px 25px 0 25px;
    width: 100%;
    height: calc(100% - 93px);
    font-size: 1.2em;
    overflow-y: scroll;
    transition: all 0.25s linear;
    .info-item + .info-item { // all notes except first
      margin-top: 10px;
    }
    @media (max-width: $md) {
      height: calc(100% - 68px);
    }
  }
  .workout-banner {
    z-index: 1;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    > .workout-info {
      display: inherit;
      flex-direction: column;
      padding: 5px 0 5px 10px;
      > h2, p {
        margin: 0;
      }
      /*a, a:hover { // treatment link
        color: $active;
      }*/
      > div { // treatment info (sets, reps, etc)
        display: inherit;
        flex-direction: row;
        padding-top: 5px;
        > .info-item + .info-item::before {
          padding-left: 0.5em;
          padding-right: 0.5em;
          font-weight: bold;
          content: '/';
        }
        @media (max-width: $md) {
          &.bonus-info {
            display: none
          }
        }
      }
    }
    > .workout-button {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-right: 15px;
      a > div {
        background-color: transparent !important;
      }
      span {
        font-size: 36px !important;
      }
      img {
        filter: grayscale(100%);
      }
    }
  }
}
