@import "colors";
@import "home";
@import "navbar";
@import "dashboard";
@import "plan";
@import "video";
@import "counter";
@import "chat";
@import "new-plan";
@import "new-treatment";
@import "confirm-plan";
@import "treatments";
@import "patientlist";
@import "single-patient";
@import "info-item";
@import "exerciselist";
@import "info-panel";
@import "404";
@import url('https://fonts.googleapis.com/css?family=Oxygen:300,400,700');


body,html {
  width : 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  font-family: "Oxygen", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: $text-dark;
  background-color: $background;
}

#app, #main {
  width: inherit;
  height: inherit;
}

.content {
  min-height: 100vh;
  padding-top: 5em;
  display: flex;
  justify-content: center;
  @media (max-width: $sm) {
    padding-top: 1em;
  }
}

hr {
  border-color: $placeholder-text;
}

#new-patient {
  width: 100%;
  #cancel {
    width: 30vh;
    background-color : $error-text !important;
  }
  #cancelAdd {
    margin-right: 6vh;
  }
}
#account-info {
  width: 100%;
}

// Page Headers
.page-header {
  margin-top: 10px;
  font-size: 40px;
  @media (max-width: $lg) {
    margin-top: 5px;
    font-size: 30px;
    @media (max-width: $sm) {
      font-size: 25px;
    }
  }
}

img.profile-pic {
  width: 100%;
  max-width: 150px;
  border-radius: 50%;
}
