body,html {
  width : 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: black;
}

.homepage {
	width : 100%;
}

#app, #main {
  width: inherit;
  height: inherit;
}

.content {
  min-height: 100vh;
  padding-top: 5em;
  display: flex;
  justify-content: center;
}


img {
    filter: saturate(150%);
}

a {
  text-decoration: none;
  color: white;
  padding: 1em;
}

a:hover,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: white;
}

.navbar {
  width: 100%;
  top: 10px;
  padding-left: 20px;
  justify-content: center;
  }

.navbar-header {
  text-decoration: none;
  font-size: 30px;
  font-weight: lighter;
}

.navbar-right {
  list-style: none;
  margin: 15px;  
  display: flex;
  font-size: 15px;
}


@media (min-width: 500px) {
  .navbar {
    background-color: transparent;
    padding: 20px;
    padding-top: 5px;
    padding-left: 30px;
    border: none;
  }
  .navbar-right {
    flex-direction: row; 
  }

}


.main {
  background-image: url('https://static.pexels.com/photos/24746/pexels-photo-24746.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  text-align: left;
  color: white;
  position: absolute;
  width : 100%;
}
.main .intro-text {
  padding-top: 100px;
  padding-bottom: 50px;
  padding-left: 65px;
}
.main .intro-text .intro-heading {
  font-size: 37px;
  line-height: 40px;
  margin-bottom: 0px;
}
.main .intro-text .intro-content {
  font-size: 15px;
  line-height: 65px;
  margin-bottom: 50px;
}
@media (min-width: 500px) {
  .main .intro-text {
    padding-top: 300px;
    padding-bottom: 200px;
  }
  .main .intro-text .intro-heading  {
    font-size: 37px;
  	line-height: 40px;
    margin-bottom: 0px;
  }
  .main .intro-text .intro-content {
    font-size: 15px;
    line-height: 65px;
    margin-bottom: 50px;
  }
}

.signinform {
    position: absolute;
    right: 55px;
    padding-top: 240px;
}


/* App Navbar  */

#navbar {
  position: fixed;
  z-index: 2;
  width: inherit;
}

#navbar a {
  text-decoration: none;
}

.navbar-item-icon, .navbar-item > a > img {
  display: none;
}

.navbar-item, .navbar-item > a {
  display: flex;
  align-items: center;
  padding: 0 14px;
}

@media (max-width: 768px) {
  .navbar-item button {
    display: none !important;
  }
  .navbar-item-icon, .navbar-item > a > img {
    display: flex;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    width: 46px;
    height: 46px;
  }
}

@media (max-width: 550px) {
  #navbar {
    justify-content: flex-end !important;
  }
  .navbar-logo {
    display: none !important;
  }
}

@media (max-width: 400px) {
  #navbar {
    justify-content: center !important;
  }
  .navbar-item > a {
    padding: 0 5px;
  }
}

/* navbar icons */
.navbar-item button > div > span:hover {
  color: #28A3E1 !important;
}

.patients {
  background: url(../images/icons/patients_light.svg);
  background-size: 46px 46px;
}

.patients:hover {
  background: url(../images/icons/patients_active.svg);
  background-size: 46px 46px;
}

.exercises {
  background: url(../images/icons/exercises_light.svg);
  background-size: 46px 46px;
}

.exercises:hover {
  background: url(../images/icons/exercises_active.svg);
  background-size: 46px 46px;
}

.messages {
  background: url(../images/icons/messages_light.svg);
  background-size: 46px 46px;
}

.messages:hover {
  background: url(../images/icons/messages_active.svg);
  background-size: 46px 46px;
}

/* navbar icons */
.profile-icon > img {
  background-size: 44px;
  height: 44px;
  width: 44px;
}

.profile-icon > img:hover {
  cursor: pointer;
}

