@import "colors";
@import "home";
@import "navbar";
@import "dashboard";
@import "plan";
@import "video";
@import "counter";
@import "newplan";
@import "patientlist";


body,html {
  width : 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: $text-dark;
  background-color: $background;
}

#app, #main {
  width: inherit;
  height: inherit;
}

.content {
  min-height: 100vh;
  padding-top: 5em;
  display: flex;
  justify-content: center;
}

#new-patient {
  width: 100%;

  #cancel {
    width: 30vh;
    background-color : $error-text !important;
  }

  #cancelAdd {
    margin-right: 6vh;
  }
}

// Page Headers
.page-header {
  margin-top: 10px;
  font-size: 40px;
}
