body,html {
  width : 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: black;
}

/* delete after merge */
#app, .homepage {
	width : 100%;
}

#app, #main {
  width: inherit;
  height: inherit;
}

.content {
  min-height: 100vh;
  padding-top: 5em;
  display: flex;
  justify-content: center;
}

img {
    filter: saturate(150%);
}

a {
  text-decoration: none;
  color: white;
  padding: 1em;
}

a:hover,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: white;
}

.navbar {
  width: 100%;
  top: 10px;
  padding-left: 20px;
  justify-content: center;
  }

.navbar-header {
  text-decoration: none;
  font-size: 30px;
  font-weight: lighter;
}

.navbar-right {
  list-style: none;
  margin: 15px;  
  display: flex;
  font-size: 15px;
}


@media (min-width: 500px) {
  .navbar {
    background-color: transparent;
    padding: 20px;
    padding-top: 5px;
    padding-left: 30px;
    border: none;
  }
  .navbar-right {
  flex-direction: row; 
}

}


.main {
  background-image: url('https://static.pexels.com/photos/24746/pexels-photo-24746.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  text-align: left;
  color: white;
  position: absolute;
  width : 100%;
}
.main .intro-text {
  padding-top: 100px;
  padding-bottom: 50px;
  padding-left: 65px;
}
.main .intro-text .intro-heading {
  font-size: 37px;
  line-height: 40px;
  margin-bottom: 0px;
}
.main .intro-text .intro-content {
  font-size: 15px;
  line-height: 65px;
  margin-bottom: 50px;
}
@media (min-width: 500px) {
  .main .intro-text {
    padding-top: 300px;
    padding-bottom: 200px;
  }
  .main .intro-text .intro-heading  {
    font-size: 37px;
  	line-height: 40px;
    margin-bottom: 0px;
  }
  .main .intro-text .intro-content {
    font-size: 15px;
    line-height: 65px;
    margin-bottom: 50px;
  }
}

.signinform {
    position: absolute;
    right: 55px;
    padding-top: 240px;
}

/* App Navbar  */

#navbar {
  position: fixed;
  z-index: 2;
  width: inherit;
}

#navbar a {
  text-decoration: none;
}

.navbar-item, .navbar-item > a {
  display: flex;
  align-items: center;
}

/* navbar icons */
.navbar-item button > div > span:hover {
  color: #005B96 !important;
}

/* navbar icons */
.navbar-item > a > span {
  padding: 0 16px;
}

.profile-icon > img {
  background-size: 44px;
  height: 44px;
  width: 44px;
}

.profile-icon > img:hover {
  cursor: pointer;
}