video {
  height: 100%;
  width: 100%;
}

// .background-video {
//   height: auto;
//   margin: 0;
//   min-width: 100%;
//   min-height: 100%;
//   padding: 0;
//   position: fixed;
//   top: 50%; left: 50%;
//   transform: translate(-50%, -50%);
//   width: auto;
//   z-index: -2;
// }

.videoWrapper {
  height: 0px;
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
  width: 100%
}

.videoWrapper iframe {
  height: 75%;
  left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

@media (max-width: $lg) {
  .videoWrapper iframe {
    height: 100%;
  }
}
