{% extends "./server/email_templates/layout.njk" %}

{% block content %}
    <h2>Welcome to Steps</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ante diam, elementum eget nisl vitae, tristique faucibus ligula. Nunc lobortis, nisl vel ultricies convallis, neque mi viverra ante, ac varius quam ligula at justo. Nunc scelerisque purus arcu, at pharetra massa lobortis sit amet. Proin a consectetur orci, at accumsan ipsum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Proin sit amet gravida augue. Nullam risus ipsum, ultrices at arcu at, dictum rutrum nibh. Cras vestibulum hendrerit porttitor. Suspendisse tincidunt fermentum lectus nec rhoncus. Curabitur et augue ut leo mollis aliquet eu in nisl. Praesent sit amet odio eget est tempor lacinia sed eget purus.</p>
    <p>Proin euismod lectus in est vehicula, nec ornare diam varius. Curabitur auctor libero id nibh dignissim, eget dapibus dolor iaculis. Quisque bibendum nunc in est dictum auctor. Proin vel sodales arcu. Quisque sed hendrerit lectus. Donec dapibus ligula dolor, sed consectetur ipsum blandit lacinia. Curabitur consequat non lacus vel iaculis. Maecenas ornare orci in orci aliquet, non lobortis nulla sagittis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris pellentesque eros sed quam sodales, non lacinia orci accumsan. Suspendisse venenatis risus ac enim tempor, sit amet aliquet dolor congue. Pellentesque maximus tristique odio, ac hendrerit tellus gravida eget. Proin egestas convallis sem quis egestas.</p>
{% endblock %}
